.hidden {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.top {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.middle {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.clock {
  width: 500px;
  height: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 120px;
}

.greeting {
  width: 100%;
  height: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 80px;
}

.quote {
  width: 100%;
  height: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 50px;
}

.author {
  text-align: center;
  font-size: 20px;
}

.weather {
  position: fixed;
  top: 40px;
  right: 50px;
  background-color: rgba(58, 58, 58, 0.2);
  border-radius: 10px;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.todo {
  position: absolute;
  top: 150px;
  right: 50px;
  background-color: rgb(58, 58, 58, 0.2);
  padding: 10px;
  padding-top: 40px;
  border-radius: 10px;
}
#todo-form {
  position: relative;
  margin-bottom: 15px;
}
#todo-form input {
  font-size: 15px;
  color: white;
  width: 300px;
  border: none;
  border-bottom: solid white 2px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  background: none;
  z-index: 5;
}

#todo-form input::placeholder {
  color: white;
}
#todo-form input:focus {
  outline: none;
}

#todo-form span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0%;
  background-color: #666;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
}

#todo-form label {
  position: absolute;
  color: white;
  left: 10px;
  font-size: 20px;
  bottom: 8px;
  transition: all 0.2s;
}

#todo-form input:focus ~ label {
  font-size: 16px;
  bottom: 40px;
  color: white;
  font-weight: bold;
}

#todo-form input:focus ~ span {
  width: 100%;
}

#todo-list li {
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  margin-top: 10px;
}

#todo-list li button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  cursor: pointer;
}
#todo-list li button i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
